// Colors
$color-primary: var(--color-primary);

// System Colors
$color-loader: var(--color-loader);
$color-success: var(--color-success);
$color-error: var(--color-error);
$color-warning: var(--color-warning);
$color-notice: var(--color-notice);

// Links
$link: var(--link);
$link-hover: var(--link-hover);

// Highlight
$highlight-background: var(--highlight-background);
$highlight-color: var(--highlight-color);
$highlight-links: var(--highlight-links);

// Header
$header-background: var(--header-background);
$header-colors: var(--header-colors);

// Menu
$menu-background: var( --menu-background);
$menu-inside-background: var(--menu-inside-background);
$menu-links: var(--menu-links);
$menu-inside-links: var(--menu-inside-links);

// Footer
$footer-background: var(--footer-background);
$footer-links: var(--footer-links);
$footer-color: var(--footer-color);

// Border & Backgrounds
$border-light: #EFEEEF;
$border-dark: #85695C;
$background-light: #EFEEEF;

// Text
$color-text: var(--color-text);
$color-title: var(--color-title);
$color-subtitle: var(--color-subtitle);

// Font
$font-default: var(--font-default);
$font-weight: var(--font-weight-default);
$font-size: var(--font-size-default);
$font-style: var(--font-style-default);
		
$font-heading: var(--font-heading);
$font-weight-heading: var(--font-weight-heading);
$font-size-heading: var(--font-size-heading);
$font-style-heading: var(--font-style-heading);

// Product
$product-color: var(--product-color);
$product-price: var(--product-price);
$product-button-color: var(--product-button-color);
$product-button-background: var(--product-button-background);
$product-button-border: var(--product-button-border);

$color-white: #fff;
$color-black: #000;
